[submodule "submodules"]
	path = submodules
	url = https://github.com/CJAPPLE5/RTG-SLAM-cuda_utils.git
[submodule "thirdParty/pybind"]
	path = thirdParty/pybind
	url = https://github.com/CJAPPLE5/RTG-SLAM-PYBIND.git
[submodule "thirdParty/ORB-SLAM2-PYBIND"]
	path = thirdParty/ORB-SLAM2-PYBIND
	url = https://github.com/CJAPPLE5/RTG-SLAM-BACKEND.git
[submodule "ThermalMonoDepth"]
	path = ThermalMonoDepth
	url = https://github.com/UkcheolShin/ThermalMonoDepth.git
